version: '3'

services:
  app-tests:
    build:
      context: .
      dockerfile: Dockerfile
    image: soygonzalodeniz/app-tests:0.0.1
    container_name: app-tests
    ports:
      - "5000:5000"
    volumes:
      - ./src:/app:ro
